
  .triphappy-widget-wrapper{
    border: 1px solid lightgray !important;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.47) !important;
    font-family: lato, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    height: 100% !important;
    position: relative !important;
  }

  #trip-happy-infowindow{
    font-family: lato, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  }


  .triphappy-widget-wrapper a{
    -webkit-transition: all 0.5s ease !important;
    -moz-transition: all 0.5s ease !important;
    -o-transition: all 0.5s ease !important;
    transition: all 0.5s ease !important;
  }

  .triphappy-trip-menu{
    background: #f2f2f2 !important;
    height: 30px !important;
    color: #737373 !important;
    font-size: 16px !important;
    text-align:left:; !important;
    line-height: 30px !important;
    border-bottom: 1px solid rgba(108, 108, 108, 0.2) !important;
  }


  .triphappy-trip-menu .fa{
    margin-left: 15px !important;
  }

  .triphappy-trip-menu .triphappy-view-link{
    float:right !important;
    margin-right:5px !important;
    text-decoration: none !important;
    color:inherit !important;

  }

  .triphappy-trip-menu .triphappy-view-link:hover{
    color: #e87767 !important;
  }

  #triphappy-map-container{
    position: absolute !important;
    left: 0px !important;
    right: 0px !important;
    top: 30px !important;
    bottom: 30px !important;
  }

  #triphappy-credits{
    border-top: 1px solid lightgray !important;
    background-color: white !important;
    height: 30px !important;
    position: absolute !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
  }

  #triphappy-credits a{
    line-height: 30px !important;
    display: block !important;
    text-decoration: none !important;
    font-size: 16px !important;
    padding-left: 5px !important;
    color: #737373 !important;
  }

  #triphappy-credits a:hover{
    color: #E45E4B !important;
    text-decoration:underline !important;
  }

  #triphappy-credits .triphappy-logo{
    float: right !important;
    height: 26px !important;
    padding-top: 2px !important;
    padding-right: 5px !important;
    border: none !important;
  }

